body {
    margin: 0px;
    background: linear-gradient(140deg, #79006f, #32002f);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
a {
    background-color: black;
    padding: 30px;
    text-decoration: none;
    color: white;
    border-radius: 25px;
}
h1 {
    color: white;
}